.code-window{
	width: 130px;
	height: 170px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 10px;
	vertical-align: middle;
}

.knopka {
	color: rgb(11, 77, 5); /* цвет текста */
	text-decoration: none; /* убирать подчёркивание у ссылок */
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	user-select: none; /* убирать выделение текста */
	background: rgb(192, 192, 192); /* фон кнопки */
	padding: .7em 1.5em; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
}
/*  
a.knopka:hover { background: rgb(232,95,76); } // при наведении курсора мышки 
a.knopka:active { background: rgb(152,15,0); } // при нажатии 
*/

.field{
	  position: "relative";
	  left: 1px; right: 1px; top: 50px; bottom: 1px;
	  	vertical-align: middle;
}


ul.menu{
    /*position: relative;
    top: 150px;
    left: 150px;*/
    list-style: none;
    width: 500px;
}
.menu li{
    margin: 40px 0px 40px 0px;
   /* background: black;*/
}
.menu li a {
	text-decoration: none; 
}

.actionButton{
	width: 88px;
	height: 44px;
}
